<html>
    <head></head>
    <body>
        {{> structure/header }}

        <h1>This is a thing that is being built.</h1>

        <p>
            <strong>Your name:</strong> {{name}}
        </p>

        {{asyncTest name='Tester 2' age=49}}

        {{> structure/footer }}
    </body>
</html>
